<div {{action 'hoveringOverTheMotherFucka' data on='mouseEnter'}} class="col-md-3 day">
	<div>
		<h2>{{data.date}}</h2>
		<h3>Max:{{data.max}}</h3>
		<h3>Min:{{data.min}}</h3>
		<h3>{{data.description}}</h3>

		{{g-map lat=data.lat lng=data.long zoom=12}}


	</div>
</div>